/* SellingHistory.css */

.selling-history-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.selling-history-title {
  margin-bottom: 20px;
}

.selling-history-filter {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.selling-history-filter label {
  margin-right: 10px;
  font-weight: bold;
}

.selling-history-filter select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 150px;
  appearance: none;
  background-color: #fff;
  background-image: linear-gradient(45deg, transparent 50%, #888 50%), linear-gradient(135deg, #888 50%, transparent 50%);
  background-position: calc(100% - 12px) calc(1em + 2px), calc(100% - 7px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  padding-right: 30px;
}

.selling-history-filter select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.selling-history-filter select:hover {
  cursor: pointer;
}

.selling-history-filter select option {
  background-color: #fff;
  color: #333;
}

.selling-history-filter #customYear {
  margin-left: 10px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 150px;
  appearance: none;
  background-color: #fff;
  background-image: linear-gradient(45deg, transparent 50%, #888 50%), linear-gradient(135deg, #888 50%, transparent 50%);
  background-position: calc(100% - 12px) calc(1em + 2px), calc(100% - 7px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  padding-right: 30px;
}

.selling-history-filter #customYear:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.selling-history-filter #customYear:hover {
  cursor: pointer;
}

.selling-history-table {
  width: 100%;
  border-collapse: collapse;
}

.selling-history-table th, .selling-history-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.selling-history-table th {
  background-color: #f4f4f4;
}

@media screen and (max-width: 600px) {
  .selling-history-filter {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .selling-history-filter select,
  .selling-history-filter #customYear {
    width: 100%;
    margin-bottom: 10px;
  }
}
