@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Reset default font for all elements */
body {
  font-family: sans-serif; /* Use a generic sans-serif font for the body */
}

a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font to anchor tags */
}

.category-product {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: box-shadow 0.3s ease-in-out;
  height: fit-content;
}

.category-product:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
  max-width: 200px;
  max-height: 200px;
  margin: 15px;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font to product-image */
}

.product-image:hover {
  transform: scale(1.1); /* Increase the size by 10% on hover */
  transition: transform 0.3s ease; /* Smooth transition */
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.your-products .your_products_title {
  color: black;
  font-weight: 520;
  margin: 7px;
}

.your-products .your_products_title:hover {
  color: #DB4444;
  cursor: pointer;
}

.product-price {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font to product-price */
}

.price-symbol {
  top: -.75em;
  font-size: 13px;
  color: #0f1111;
  font-weight: 400 !important;
  font-style: normal !important;
  text-transform: none !important;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font to price-symbol */
}

.mrp1 {
  color: #565959;
  font-size: 20px !important;
  line-height: 20px !important;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font to mrp1 */
  font-weight: 200;
}

.mrp2 {
  color: #565959;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font to mrp2 */
  font-weight: 100;
  text-decoration: line-through;
}

.category-button {
  background-color: #1976d2;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font to category-button */
}
.category-product button:hover {
  background-color: #007afc;
}

.rating {
  display: flex;
  align-items: center;
}

.rating-text {
  font-size: 14px;
  color: #9e9e9e;
  margin-left: 5px;
}
.category-product .product-title{
  color: black;
}
.category-product .product-title:hover{
  color:#DB4444;
}